# See http://help.github.com/ignore-files/ for more about ignoring files.
#

# compiled output
/dist
/dist-external-src
/tmp

# dependencies
/node_modules
/bower_components
/src/assets/components

# IDEs and editors
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/
!icons
# misc
/.sass-cache
/connect.lock
/coverage*/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

tslint-error.txt

# VIM Files
*.un~
*.swp
*.swo
*.swn
/.angular/cache/*
.cache/*
