.input-text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;

    span {
        width: 125px;
    }

    input{
        width: 50%;
    }
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}