.form-survey {
  height: 100%;

  .survey-section {
    height: 100%;

    h2 {
      
      font-size: 24px;
    }

    h3 {
      border-left: 3px solid #001529;
      padding-left: 10px;
      font-size: 18px;
      margin: 20px 0;
    }



    .action {
      display: flex;
      gap: 10px;
      align-items: center;
      margin: 10px 0;
    }

    .section-question {
      margin-bottom: 20px;

      input {
        margin: 10px 0;
        width: 50%;
      }

      .more-question {
        margin-top: 20px;
      }

      .result {
        img {
          height: 32px;
          width: 32px;
        }

        display: flex;
        box-shadow: 0 6px 9px #8092a633, 0 0 6px #8092a626;
        border: 1px solid #eff2f6;
        border-radius: 4px;
        overflow: auto;
        max-height: 300px;
        width: fit-content;
        padding: 10px;
        gap: 5px;
      }
    }

    .theme-dropdown {
      width: 100%;
    }
  }
}

.ant-table-wrapper {
  height: 80%;
  overflow: auto;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: white;
}
