<form class="form-survey" [formGroup]="form">
  <div class="survey-section">
    <h2>NPS Advanced Analysis</h2>
    <h3> Import Data </h3>
    <div class="action">
      <button [disabled]="isLoadingProcess" (click)="csvImport.click()" id="upload-csv-btn" nzType="primary" nz-button>
        {{ 'Import File' }}
        <span nz-icon nzType="import" nzTheme="outline"></span>
      </button>
      <input #csvImport (change)="handleImportCSV($event)" [accept]="'.csv'" hidden="true" type="file" />
      <button *ngIf="showProcessBtn" [disabled]="isLoadingProcess" nz-button nzType="default" (click)="showSurvey()"
        nzDanger>{{ 'Process' }}
        <span nz-icon nzType="bulb" nzTheme="outline"></span>
      </button>
      <nz-spin *ngIf="isLoadingProcess" nzSimple [nzSize]="'small'"></nz-spin>
    </div>
    <div class="section-question" *ngIf="showTable">
      <span>Details</span>
      <div class="more-question">
        <div>{{ 'Use AI to interact with your data here:' }}</div>
        <input (keydown.enter)="mappingTheme()" [formControl]="questionFormControl" class="query" nz-input type="text"
          placeholder="Input command here" />
      </div>
      <div class="result">
        <div>
          <!-- <img src="../../../assets/images/image-chat.gif"> -->
          <!-- <img src="../../../assets/images/info.gif"> -->
          <!-- <img src="../../../assets/images/shooting-star.gif"> -->
          <img src="../../../assets/images/abc.gif">
          <!-- <img src="../../../assets/images/customer-experience.gif"> -->
        </div>
        <div>
          Here are some observations about the NPS data:
          <ul>
            <li>
              There are 9 responses, with NPS scores ranging from 8 to 10. The average NPS is 9.33, which is considered
              excellent.
            </li>
            <li>
              Most responses don't have any written feedback. The one piece of feedback mentions defect rate and factory
              performance.
            </li>
            <li>
              The responses come from various roles - Inspectors, Account Owners, and Managers. They work for suppliers,
              retailers, and inspection agencies.
            </li>
            <li>
              The responses are mostly from the Inspectorio mobile app (Android), along with a few from the Inspectorio
              website.
            </li>
            <li>
              The organizations represented include Tendam, Liberty Mills, Marque Impex, Fortune Swimwear, Bureau
              Veritas, Hansae, and Seasonal Visions International.
            </li>
            <li>
              The responses come from multiple countries - Bangladesh, India, Cambodia, and an unknown country.
            </li>
            <li>
              The surveys are in English or have no specified language.
            </li>
            <li>
              The NPS data spans about 2 weeks from September 29 to September 30.
            </li>
          </ul>
          <div>
            In summary, this is very positive NPS data from a diverse set of respondents across Inspectorio's platform.
            The high scores indicate respondents are likely promoters of Inspectorio. The one piece of feedback on
            factory
            performance could be an area to dig into further. Overall this NPS data looks very strong for Inspectorio.
            Let
            me know if you need any clarification or have additional questions!
          </div>
        </div>
      </div>
    </div>
      <ng-container *ngIf="showTable" class="table-data">
        <nz-table nzTemplateMode [nzLoading]="isLoadingTable" [nzData]="importedData" [nzShowPagination]="false" [nzBordered]="true"
          [nzScroll]="{ y: '400px' }">
          <thead>
            <tr>
              <ng-container *ngFor="let column of columns">
                <th [nzColumnKey]="column.key" [nzWidth]="column.width">{{ column.title }}
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of importedData;">
              <td>{{ item.id }}</td>
              <td>{{ item.score }}</td>
              <td>{{ item.text }}</td>
              <td>{{ item.responseDate }}</td>
              <td>{{ item.country }}</td>
              <td>{{ item.userRole }}</td>
              <td>{{ item.organization }}</td>
              <td>{{ item.source }}</td>
              <td>{{ item.plan }}</td>
              <td>{{ item.ecosystem }}</td>
              <td>{{ item.coreChannel }}</td>
              <td>{{ item.coreEndUserAgeAmount }}</td>
              <td>
                <!-- For Theme -->
                <nz-select [(ngModel)]="item.theme" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="themChanged($event, item.theme)" class="theme-dropdown">
                  <nz-option *ngFor="let item of themeOptions" [nzValue]="item.id" [nzLabel]="item.text"></nz-option>
                </nz-select>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </ng-container>
    </div>
</form>